<h1>Heads Up Mentors</h1>
<div class="content">
    <h2>
        Welcome!
    </h2>
    <div class="fields">
        <mat-progress-bar mode="indeterminate" [ngClass]="{'showprogressbar': (appState$ | async)!.isLoading}"></mat-progress-bar>
        <div class="switchcontainer" [ngSwitch]="(signupState$ | async)!.codeValidityConfirmed">
            <div class="switchcontainer" *ngSwitchCase="true">
                <form [formGroup]="signupForm">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email">
                    </mat-form-field>
                    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                        <div class="inperror" *ngIf="name?.errors?.['required']">
                            Email is required.
                        </div>
                        
                        <div class="inperror" *ngIf="email?.errors?.['email']">
                            Please enter a valid email.
                        </div>
                    </div>
                    <mat-form-field appearance="outline">
                        <mat-label>Full Name</mat-label>
                        <input matInput placeholder="Full Name" formControlName="name">
                    </mat-form-field>
                    <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
                        <div class="inperror" *ngIf="name?.errors?.['required']">
                            Name is required.
                        </div>
                    </div>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" type="password" formControlName="password">
                    </mat-form-field>
                    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                        <div class="inperror" *ngIf="password?.errors?.['required']">
                            Password is required.
                        </div>
                        <div class="inperror" *ngIf="password?.errors?.['minlength'] && !password?.errors?.['required']">
                            Password must be at least 6 characters.
                        </div>
                    </div>
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput placeholder="Confirm Password" type="password" formControlName="cPassword">
                    </mat-form-field>
                    <div *ngIf="cPassword?.invalid && (cPassword?.dirty || cPassword?.touched)">
                        <div class="inperror" *ngIf="cPassword?.errors?.['required']">
                            Please confirm your password.
                        </div>
                        <div class="inperror" *ngIf="cPassword?.errors?.['noMatch']">
                            Your passwords do not match.
                        </div>
                    </div>
                </form>
                <button mat-flat-button color="primary" [disabled]="!isValid" (click)="submit()">Create Account</button>
                <div class="conflict" [ngStyle]="{'display': (signupState$ | async)!.userDidConflict ? 'block' : 'none'}">
                    A user with that email already exists
                </div>
            </div>
            <div *ngSwitchCase="null" class="dialog">
                Verifying Invite Validity...
            </div>
            <div *ngSwitchCase="false" class="dialog">
                <div>
                    Invalid Link
                </div>
                <p>
                    Please check the link. Contact the sender for a new link if problems persist.
                </p>
            </div>
        </div>
    </div>
    <div class="notice">
        <mat-icon>warning_amber</mat-icon>
        <p>Don't lose your password; It isn't recoverable. If you lose your password, you will need to obtain a new invite link.</p>
    </div>
</div>