.contentwrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}
mat-drawer-container {
    display: flex;
    flex-direction: column;

    height: 100%;
}
.spacer {
    margin-left: auto;
}
.exportcsv {
    margin-right: 2em;
}
.navbarbuttonstack {
    display: flex;
    flex-direction: column;

    padding: 1.5em 1em;

    button {
        mat-icon {
            margin-right: .5em;
        }

        margin: .5em 0;
    }
}

table {
    width: 100%;
}

.styled-fu {
    display: none;
}